.gallery {
    width: 100%;
    max-width: 882px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
    grid-gap: 20px 18px;
    box-sizing: border-box;
    color: black;
    margin: auto;
    transition: .5s ease-in-out;
  }

  @media screen and (max-width: 900px) {
    .gallery  {
      padding-left: 19px;
      padding-right: 19px;
    }
  }
