.card__reaction {
  width: 20px;
  height: 18px;
  background: center / cover url(../../../images/icon-heart.svg) no-repeat;
  border: none;
  outline: none;

  opacity: 1;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.card__reaction:hover {
  cursor: pointer;
  opacity: .6;
}